@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* * Global Variables */
:root {
    --primary-color: #0b1b28;
    --secondary-color: #44b89d;
}

/* * General Styles */
html, body {
    font-family: "Mulish", sans-serif;
}

a {
    text-decoration: none;
}

/* * Custom Styles */
.full-section-height {
    min-height: calc(100vh - 130px);
    display: flex;
    align-items: center;
}

